@import 'core/_colors.scss';

$font-base: 16px;

@mixin utp-text {
  font-family: Geometria;
  font-size: 44px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.88px;
  text-align: left;
  color: $black;
}

@mixin title_h1 {
  font-family: Geometria;
  font-size: 30px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 3px;
  text-align: left;
  color: $black;
}

@mixin title_h2 {
  font-family: Geometria;
  font-size: 20px;
  font-weight: bold;
  line-height: 3;
  letter-spacing: 2px;
  text-align: left;
  color: $black;
}

@mixin font-base-bold {
  font-family: Geometria;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: $black;
}

@mixin font-base {
  font-family: Geometria;
  font-size: 16px;
  line-height: 1.44;
  text-align: left;
  color: $black;
}

@mixin main-button {
  width: 255px;
  height: 60px;
  box-shadow: 0 4px 10px 0 rgba(31, 31, 31, 0.5);
  background-color: $black;
  font-family: Geometria;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.75;
  letter-spacing: 0.32px;
  text-align: center;
  color: $white-two;
  text-transform: uppercase;
}

@mixin circle_text_number {
  font-family: Geometria;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: $black;

}

@mixin circle_text_text {
  font-family: Geometria;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 2px;
  text-align: center;
  color: $black;
}